@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image:linear-gradient(45deg, #e51b61, #e51b61, #f784a2  , #f784a2 );
    margin: 0;
}

.container {
    position: relative;
    width: 100%;
    max-width: 400px;
    background: #ffccd1;
    border: 2px solid #e51b61 ;
    border-radius: 20px;
    color:#f784a2;
    padding: 30px 40px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 600px) {
    .container {
      width: 100%;
      margin: 7%;
    }

    #chat-container {
        width: 320%;
    }

    #welcomeMessage {
        font-size: 12px;
    }
}